<!--

<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.inclusion.gob.ec">
                        Inclusión
                    </a>
                </li>
                <li>
                    <a href="http://www.inclusion.gob.ec">
                        Acerca de Nosotros
                    </a>
                </li>
                <li>
                    <a href="http://www.inclusion.gob.ec">
                        Biblioteca
                    </a>
                </li>
                <li>
                    <a href="http://www.inclusion.gob.ec">
                        Contactanos
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Desarrollado en Secretaría de Gestión Intergeneracional
            <a href="https://www.inclusion.gob.ec" target="_blank">MIES</a> Marco Taipe.
        </div>
    </div>
</footer>
-->