<!--TABLE-LIST Profesionales al cuidado de PAM-->
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Profesionales de IV Nivel</h4>
                      <p class="card-category"> Especialistas en tratamiento a PAM</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ORD
                                  </th>
                                  <th>
                                      Nombre
                                  </th>
                                  <th>
                                      Ciudad
                                  </th>
                                  <th>
                                      Provincia
                                  </th>
                                  <th>
                                      Salario
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Marco Taipe
                                      </td>
                                      <td>
                                          Quito
                                      </td>
                                      <td>
                                          Pichincha
                                      </td>
                                      <td class="text-primary">
                                          $36,738
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Torres
                                      </td>
                                      <td>
                                          Latacunga
                                      </td>
                                      <td>
                                          Cotopaxi
                                      </td>
                                      <td class="text-primary">
                                          $23,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Silvia Rodriguez
                                      </td>
                                      <td>
                                          Loja
                                      </td>
                                      <td>
                                          Loja
                                      </td>
                                      <td class="text-primary">
                                          $56,142
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Maria Suarez
                                      </td>
                                      <td>
                                          Ambato
                                      </td>
                                      <td>
                                          Tungurahua
                                      </td>
                                      <td class="text-primary">
                                          $38,735
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          María Luisa Cedeño
                                      </td>
                                      <td>
                                          Chone
                                      </td>
                                      <td>
                                          Manabi
                                      </td>
                                      <td class="text-primary">
                                          $63,542
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Luis Arias
                                      </td>
                                      <td>
                                          Quito
                                      </td>
                                      <td>
                                          Pichincha
                                      </td>
                                      <td class="text-primary">
                                          $78,615
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Certificado por Competencias</h4>
                      <p class="card-category"> La vigencia de cada certificado es de 3 años para el cuidado de PAM</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ORD
                                  </th>
                                  <th>
                                      Nombre
                                  </th>
                                  <th>
                                      Ciudad
                                  </th>
                                  <th>
                                      Provincia
                                  </th>
                                  <th>
                                      Salario
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Maria Esther Lucas
                                      </td>
                                      <td>
                                          Quito
                                      </td>
                                      <td>
                                          Pichincha
                                      </td>
                                      <td>
                                          $36,738
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Olga Parreño
                                      </td>
                                      <td>
                                          Quito
                                      </td>
                                      <td>
                                          Pichincha
                                      </td>
                                      <td>
                                          $23,789
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Noemi Rodriguez
                                      </td>
                                      <td>
                                          Quito
                                      </td>
                                      <td>
                                          Pichincha
                                      </td>
                                      <td>
                                          $56,142
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Luis Eduardo Torres
                                      </td>
                                      <td>
                                          Salcedo
                                      </td>
                                      <td>
                                          Pichicnha
                                      </td>
                                      <td>
                                          $38,735
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Almeida
                                      </td>
                                      <td>
                                          Quito
                                      </td>
                                      <td>
                                          Pichincha
                                      </td>
                                      <td>
                                          $63,542
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Dorothy Maldonado
                                      </td>
                                      <td>
                                          Cuenca
                                      </td>
                                      <td>
                                          Azuay
                                      </td>
                                      <td>
                                          $78,615
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
